<h1>Eat The Burger!</h1>

<form>
  <div class="form-group">
    <label for="burgerBox">Enter Your Burgers Here</label>
    <input type="text" class="form-control" id="burgerBox" placeholder="Enter Burger">
  </div>
  <button type="submit" id="submit"class="btn btn-primary">Submit</button>
</form>